.develop-login-container {
	
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 40px;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	
}

.project-name {
	
	margin: 0 0 50px;
	padding: 0;
	color: #555;
	white-space: pre-wrap;
	font-size: 100%
	
}

.develop-login-container .input-box {
	
	position: relative;
	
}

.develop-login-container .input-box input {
	
	width: -moz-available;
	width: -webkit-fill-available;
	padding: 10px 0 6px;
	font-size: 16px;
	color: #555;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #555;
	outline: none;
	background: transparent;
  
}
.develop-login-container .input-box label {
	
	position: absolute;
	top:0;
	left: 0;
	padding: 10px 0 8px;
	font-size: 16px;
	color: #555;
	pointer-events: none;
	transition: .3s;
  
}

.develop-login-container .input-box input:focus ~ label,
.develop-login-container .input-box input:valid ~ label {
	
	top: -20px;
	left: 0;
	font-size: 12px;
  
}

.login-submit {

	display: inline-block;
	cursor: pointer;
	transition: .5s;
	
}

.login-submit:hover {
	
	letter-spacing: 4px;
	
}